<head>
    <title> Boston Price Prediction </title>
</head>
<body>
    Boston Price Prediction <br><br>
    <form action = '/predict' method="POST">
        <label>1</label><input type ='text' name = 'A'><br><br>
        <label>2</label><input type ='text' name = 'B'><br><br>
        <label>3</label><input type ='text' name = 'C'><br><br>
        <label>4</label><input type ='text' name = 'D'><br><br>
        <label>5</label><input type ='text' name = 'E'><br><br>
        <label>6</label><input type ='text' name = 'F'><br><br>
        <label>7</label><input type ='text' name = 'G'><br><br>
        <label>8</label><input type ='text' name = 'H'><br><br>
        <label>9</label><input type ='text' name = 'I'><br><br>
        <label>10</label><input type ='text' name ='J'><br><br>
        <label>11</label><input type ='text' name ='K'><br><br>
        <label>12</label><input type ='text' name = 'L'><br><br>
        <label>13</label><input type ='text' name = 'M'><br><br>
        <input type="submit">

        {{ price }}
    </form>
</body>